.login-form .form-group {
  margin-bottom: 3px !important;
}

.login-form {
  gap: 3px !important;
  margin-top: 30px !important;
  padding-bottom: 15px !important;
}

.login-form .form-group:first-child {
  margin-top: 20px !important;
  padding-top: 10px !important;
}

.login-form .form-group label {
  margin-bottom: 3px !important;
  display: block !important;
}

.login-form-section {
  overflow-y: auto !important;
  max-height: 95vh !important;
  padding-top: 10px !important;
}

.login-form-section::-webkit-scrollbar {
  width: 6px;
}

.login-form-section::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

.login-form-section::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 3px;
}

.login-form-section::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}